/* Multiple steps functionality */
.tab {
  display: none;
}

#create-character {
  padding: 40px 0;
}
/* Heading */
h1 {
  text-align: center;
  text-shadow: 0 2px 2px black;
}
.btn-group {
  text-align: right;
}
/* Creatinf form section */
.main-window {
  border: 1px solid #ccc;
  background: #f5e3cc77;
  border-radius: 15px;
  padding: 1rem;
}

.img-container {
  margin-top: 1rem;
  width: 250px;
  height: 400px;
}
.racial-traits h3,
.class-features h3 {
  margin-top: 0;
}
.class-description,
.race-description {
  border: 1px solid #ccc;
  border-radius: 15px;
  height: 423px;
  padding: 1rem;
  overflow: auto;
}
.race-description h4,
.class-description h4 {
  margin-top: 0;
}
.class-description select {
  width: 100%;
  padding: 0.8rem 1rem;
  margin-bottom: 0.5rem;
}
/* Accordion */
.accordion {
  border: none;
  font-family: inherit;
  color: #9d0a0e;
  font-size: 1rem;
  display: inline-block;
  width: 100%;
  background: #e0d1be;
  cursor: pointer;
  padding: 0.2rem 0 0.3rem;
  position: relative;
}
.points:before {
  content: "choose options";
  position: absolute;
  font-size: 0.5rem;
  color: black;
  bottom: 0;
  right: 47%;
}
.back-feature:before {
  content: "Background Feature";
  position: absolute;
  font-size: 0.5rem;
  color: black;
  bottom: 0;
  right: 48%;
}
.char-det:before {
  content: "Alignment - Faith - Lifestyle";
  position: absolute;
  font-size: 0.5rem;
  color: black;
  bottom: 0;
  right: 46%;
}
.phys-char:before {
  content: "Hair - Skin - Eyes - Height - Weight - Age - Gender";
  position: absolute;
  font-size: 0.5rem;
  color: black;
  bottom: 0;
  right: 42%;
}
.active,
.accordion:hover {
  text-shadow: 0 2px 2px black;
}
.accordion:after {
  content: "\002B";
  font-size: 1.3rem;
  color: #4caf50;
  float: right;
  margin-right: 16px;
}
.active:after {
  content: "\2212";
}
.acc-body {
  border: 1px solid #ccc;
  padding: 0 1rem;
  border-top: none;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  max-height: 0;
  overflow: hidden;
  margin-bottom: 0.5rem;
  transition: max-height 0.2s ease-out;
}

/* Ability score */
.ab-score {
  margin-bottom: 2rem;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
  margin-right: 1rem;
}
th,
td {
  border: 1px solid #ccc;
  padding: 0.5rem 0.8rem;
  user-select: none;
}
.hidden-input {
  width: 18px;
  border: none;
  background: none;
  font: inherit;
}
table.score {
  font-size: 0.8rem;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
table.score th,
table.score td {
  padding: 0.3rem;
}
table.score td {
  font-family: initial;
}

.ability-input {
  border: none;
  width: 17px;
  background: none;
  font-family: inherit;
  font-size: 1rem;
}
.ability-input:focus {
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.plus,
.minus {
  margin-left: -4px;
  font-size: 0.9rem;
  color: #4caf50;
  cursor: pointer;
  padding: 0;
  background: unset;
  border: none;
}
.plus:focus,
.minus:focus {
  outline: none;
}
.fa-minus-square {
  visibility: hidden;
}

/* Description tab */
.avatar {
  width: 70px;
  height: 70px;
}
.name-group {
  padding: 0 0.5rem;
}
.name-group label {
  color: #000;
}
#char-name {
  margin-top: 8px;
  padding: 0.7rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.ch-description select,
.ch-description .acc-body input {
  width: 30%;
  padding: 0.8rem 1rem;
  margin-bottom: 0.5rem;
}

/* Starting Equipment */
.ch-equipment label {
  color: initial;
}
.main-weapon,
.secondary-weapon,
.potions,
.other-stuff {
  display: inline-block;
  width: 49%;
  margin-bottom: 2rem;
}
