* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Permanent Marker", cursive;
  /* background: #e0d1be; */
}

a {
  text-decoration: none;
  color: black;
}
.btn {
  font-family: inherit;
  font-size: 1rem;
  border: none;
  color: #f4f4f4;
  display: inline-block;
  background: #9d0a0e;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  text-shadow: 0 0 10px black, 1px 1px 3px black;
  cursor: pointer;
  width: 85px;
}
h1,
h2,
h3,
h4,
label,
.main-color {
  color: #9d0a0e;
}
img {
  width: 100%;
  vertical-align: middle;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.align-items-center {
  align-items: center;
}
.container {
  width: 60%;
  margin: 0 auto;
}
/* Navbar */
.navbar {
  background: #e0d1be;
  border-bottom: 5px solid #9d0a0e;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  padding: 5px 0;
}
.jkss,
.world {
  display: block;
  color: #f4f4f4;
  font-size: 2rem;
  line-height: 1;
  text-shadow: 0 0 5px #000;
}
.world {
  padding-left: 40px;
}
.nav-items a.nav-item {
  font-size: 1.1rem;
  color: #fff;
  text-shadow: 0 0 5px #000;
  padding: 10px;
}
.nav-items a.nav-item:hover {
  color: #9d0a0e;
}
/* The Big Logo section */
.big-logo {
  height: 720px;
  background: url("./img/big-logo1.jpg") no-repeat center center/cover;
  box-shadow: inset 0 -5px 20px 10px rgba(0, 0, 0, 0.6);
  border-bottom: 5px solid #9d0a0e;
}

.row {
  display: flex;
}

/* Left column */
.col-50 {
  flex: 0 0 50%;
}

.header-container {
  text-align: center;
  width: 500px;
  margin-top: -200px;
  user-select: none;
}

.header {
  margin-top: 0;
  font-size: 3rem;
  color: #9d0a0e;
  text-shadow: 0 0 10px black, 1px 1px 3px black;
}

.header2 {
  position: relative;
  font-size: 1.5rem;
  background: radial-gradient(rgb(255, 255, 255), rgba(0, 0, 0, 0.001));
  height: 100px;
  padding-top: 10px;
  color: #f3f3f3;
  text-shadow: 1px 2px 6px black;
}

.header2:before {
  content: "";
  width: 100%;
  max-width: 500px;
  height: 10px;
  background: url("./img/logo-separator.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%);
}
.header2:after {
  content: "";
  width: 100%;
  max-width: 500px;
  height: 10px;
  background: url("./img/logo-separator.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 95px;
  left: 50%;
  transform: translate(-50%);
}

/* Right column */
.col-50.align-self-end {
  align-self: flex-end;
}
.start-container {
  text-align: right;
  position: relative;
  font-size: 1.5rem;
  margin-bottom: 150px;
}

.btn-start {
  text-decoration: none;
  color: #f4f4f4;
  display: inline-block;
  background: #9d0a0e;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  text-shadow: 0 0 10px black, 1px 1px 3px black;
  box-shadow: inset 0 0 10px 3px black, 0 0 20px 7px black;
}
.btn-start:hover {
  text-shadow: 0 0 30px black;
}
p.start-header {
  position: relative;
  font-size: 1.5rem;
  background: radial-gradient(rgb(255, 255, 255), rgba(0, 0, 0, 0.001));
  text-align: center;
  padding: 10px 0;
  width: 500px;
  margin-left: 70px;
  user-select: none;
  color: #f3f3f3;
  text-shadow: 1px 2px 6px black;
}
.start-header:before {
  content: "";
  width: 100%;
  max-width: 500px;
  height: 10px;
  background: url("./img/logo-separator.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
}
.start-header:after {
  content: "";
  width: 100%;
  max-width: 500px;
  height: 10px;
  background: url("./img/logo-separator.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%);
}
/* Information section */
#information {
  height: 1000px;
  background: url("./img/info-bg.jpg") no-repeat left 20% top 30%,
    url("./img/info-bg3.jpg") no-repeat right 20% bottom 0;
  border-bottom: 5px solid #9d0a0e;
}
.info-header {
  text-align: center;
  margin-bottom: 5rem;
}
#information h3,
#information h2 {
  color: #9d0a0e;
  text-align: center;
}

.info1,
.info2,
.info3 {
  width: 520px;
  line-height: 2;
  font-size: 1.3rem;
  margin-bottom: 40px;
}
.info1 {
  margin-left: 500px;
}
.info2 {
  margin-left: 350px;
}
.info3 {
  margin-left: 200px;
}

/* Update Section */
#update {
  padding-bottom: 50px;
}
.update-header {
  text-align: center;
  margin-bottom: 5rem;
}
.update-header h2 {
  color: #9d0a0e;
}
.col-33 {
  flex: 0 0 33.3%;
}
.card {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6);
  margin: 0 8px;
  border-radius: 5px;
}
.card-header {
  background-image: url("./img/update-img.jpg");
  background-repeat: no-repeat;
  background-position: 75%;
  height: 250px;
}
.card-header h3 {
  position: relative;
  top: 20px;
  left: 20px;
}
.card-body,
.card-footer {
  padding: 1rem;
}

.card-footer a {
  text-decoration: none;
  color: #f4f4f4;
  display: inline-block;
  background: #9d0a0e;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  text-shadow: 0 0 10px black, 1px 1px 3px black;
}
.card-footer a:hover {
  text-shadow: 0 0 30px black;
}
/* Footer section */
#footer {
  background: url("./img/info-bg2.jpg") no-repeat left 50% bottom -15px;
  border-top: 5px solid #9d0a0e;
}
#footer .row {
  height: 230px;
}
.form-control {
  margin: 10px 0;
  padding: 0.4rem 0.6rem;
  font-size: 1rem;
}
.btn-sub {
  font-size: 1rem;
  border: none;
  color: #f4f4f4;
  display: inline-block;
  background: #9d0a0e;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  text-shadow: 0 0 10px black, 1px 1px 3px black;
  cursor: pointer;
}
.btn-sub:hover {
  text-shadow: 0 0 30px black;
}
