@media screen and (max-width: 1750px){
  #information {
    background: url("./img/info-bg.jpg") no-repeat left 20% top 30%,
    url("./img/info-bg3.jpg") no-repeat right 5% bottom 0;
  }
  .container {
    width: 70%;
  }
}
@media screen and (max-width: 1500px){
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 1200px){
  #information {
    background: url("./img/info-bg.jpg") no-repeat right 5% bottom 5%,
    url("./img/info-bg3.jpg") no-repeat left 5% top 5%;
  }
  .container {
    width: 98%;
  }
  .info1, .info2, .info3  {
    margin: 0 auto;
  }
  #biglogo .row {
    display: block;
  }
  #biglogo .header-container,
  #biglogo .start-container, 
  #biglogo .start-header {
    margin: 0 auto;
    padding-top: 2rem;
    text-align: center;
  }
  #biglogo .start-header {
    padding-top: 0.6rem;
    margin-bottom: 8rem;
  }
}